<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link rel="shortcut icon" href="favicon.icon" type="">
    <title>MELS</title>
</head>
<body>
    <!-- The intro text -->
    <h1>Set Up Your Company Profile</h1>
    <p>Complete your company information to get started with MELS</p>
    <br>
    <!-- The form -->
    <section>
        <form action="">

        </form>
    </section>
    
</body>
</html>