<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link rel="shortcut icon" href="favicon.icon" type="">
    <title>MELS</title>
</head>
<body>
    <section clas="container">
        <!-- The intro text -->
        <h1>Set Up Your Company Profile</h1>
        <p>Complete your company information to get started with MELS</p>
        <br>
        <!-- The form -->
        <section class="form-container">
            <form action="">
<section>
    <label for="companyname"> Company Name</label> <input type="text" id="companyname" name="companyname" required></section>
    <label for="emailaddress"> Email Address</label> <input type="email" id="emailaddress" name="emailaddress" required></section>
    <label for="phonenumber"> Phone Number</label> <input type="tel" id="phonenumber" name="phonenumber" required></section>
    <label for="address"> Address</label> <input type="text" id="address" name="address" required>
    <div></div>
    <div></div>
    <label for="taxid"> Tax ID/Regitration Number</label> <input type="text" id="taxid" name="taxid" required>
    <label for="financialyear"> Financial Year</label> <input type="date" id="financialyear" name="financialyear" required>
    <p>Start Date</p>
     <label for="financialyear"> Financial Year</label> <input type="date" id="financialyear" name="financialyear" required>
    <p>End Date</p>
<button type="submit">Save & Continue</button>
</section>
     </form>
        </section>
    </section>
</body>
</html>