<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link rel="shortcut icon" href="favicon.icon" type="/x-icon">
    <title>MELS</title>
</head>
<body>
    <section class="container">
        <!-- The intro text -->
        <h1>Set Up Your Company Profile</h1>
        <p class="intro-text">Complete your company information to get started with MELS</p>
        <br>
        <!-- The form -->
        <section class="form-container">
            <form action="/company_data" method="POST" enctype="multipart/form-data">
                <section>
                    <p><label for="companyname"> Company Name</label><br> <input type="text" id="companyname" name="companyname" required placeholder="Enter company name"></p>
                    <p><label for="emailaddress"> Email Address</label><br> <input type="email" id="emailaddress" name="emailaddress" required placeholder="company@example.com"></p>
                    <p><label for="phonenumber"> Phone Number</label><br> <input type="tel" id="phonenumber" name="phonenumber" required placeholder="+233 020 000 000"></p>
                    <p><label for="address"> Address</label><br><input id="address" name="address" required placeholder="Enter complete address"></input></p>
                    <p><label for="companylogo"> Company Logo</label><br><input type="file" accept="image/*" name="companylogo">
                    <button type="submit">Save</button>
                
                <div class="signature"></div>
                </section>
            <p><label for="taxid"> Tax ID/Regitration Number</label><br> <input type="text" id="taxid" name="taxid" required></p>
            <br>
            <p>Financial Year</p>
            <div class="financial-year">
                <p><input type="date" id="financialyear-startdate" name="financialyear-startdate" required> <br><label for="financialyear-startdate">Start Date</label></p>
                <p><input type="date" id="financialyear-enddate" name="financialyear-enddate" required> <br><label for="financialyear-enddate">End Date</label></p>
            </div>
            <button type="submit">Save & Continue</button>
            </form>
        </section>
    </section>
</body>
</html>