<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}" type="image/x-icon">
    <title>Your Invoice</title>
</head>
<body class="invoice-container">
   <!--This is to pick the returned image from the database-->
<div class="invoice-header">
                <div class="invoice-invoice">
                    <div class="invoice-title">
                        <h1>Create New Invoice</h1>
                        <p>Fill in the details below to generate a new invoice</p>
                    </div>
                </div>
</div>      
        <div class="invoice-form">
            <form action="/createinvoice" method="POST">
                <div class="invoice-form-wrapper">
                <div class="invoice-company-logo">
                       <img src="data:{{ logo_fetch.logo_mime }};base64,{{ logo_fetch.logo }}" alt="Company Logo">
                </div>
                <div class="invoice-company-nologo">
                </div>
                <div class="BILL_TO">
                        <h3>BILL TO:</h3>
                        <label for="client_name" class="required" ><span></span> Client Name</label>
                        <input type="text" id="client_name" name="client_name" required placeholder="Enter Client Name" >
                        <label for="email_address" class="required" ><span></span> Email Address</label>
                        <input type="email" id="email_address" name="email_address" required placeholder="company@gmail.com">
                        <label for="address" class="required" ><span></span> Address:</label>
                        <textarea id="address" name="address" required placeholder="Enter Client Address"></textarea>
                </div>
                    <div id="invoice_details">
                        <h3><span></span>Invoice Details</h3>
                        <div class="invoice_details" >
                            <label for="invoice_number" ><span></span> Invoice Number</label>
                            <input type="text" id="invoice_number" name="invoice_number" required placeholder="INV-2026-24">
                            <label for="issue_date" class="required" ><span></span> Issue Date</label>
                            <input type="date" id="issue_date" name="issue_date" required>
                            <label for="due_date" class="required">Due Date</label>
                            <input type="date" id="due_date" name="due_date" required>
                        </div>   
                    </div>
                        <div class="invoice-items-heading">
                            <h3><span></span>Invoice Items</h3>
                            <button type="button" onclick="addItem()" class="add-item-btn">Add Item</button>  
                        
                            <table class="invoice-table">
                                <tr class="table-heads">
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                                <tr class="table-details">
                                    <td><input type="text" name="invoice_itemdescription" required class="invoice-table-description" placeholder="Enter item description"></td>
                                    <td><input type="number" name="quantity" required></td>
                                    <td><input type="number" step="0.01" name="price" required></td>
                                    <td><span class="total-display"></span><input type="hidden" name="total" required></td>
                                    <td>
                                        <button type="button" onclick="removeItem(this)">Remove</button>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button type="submit">Submit and Continue</a></button>
                            </div>
                </div>
                    </div>  
            </form>
        </div>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
