<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/submit_invoice" method="POST"></form>

   <!-- Please use the following names inside the input names of the respective fields
     
    client_name
    email_address
    issue_date
    address
    due_date
    invoice_itemdescription
    quantity
    price
    total-->
    
</body>
</html>
